<div class="row">
    <div class="col-lg-5">
        <table class="table table-condensed">
            <thead>
                <th>Number of files</th>
                <th>Size</th>
            </thead>
            <tbody>
            <tr>
                <td>{{ numFiles }}</td>
                <td>{{ size | bytes: 4 }}</td>
            </tr>
            </tbody>
        </table>

        <div>
            <button class="btn btn-danger" ng-click="showClearConfirmation = true">
                clear cache
            </button>

            <div style="position: relative; width: 100%; height: 75px; overflow: hidden">
                <div class="alert alert-danger" id="clear-cache-confirmation" ng-show="showClearConfirmation === true">
                    Are you sure?
                    <a href="" class="big" ng-click="showClearConfirmation = false">no, keep it </a>
                    <a href="" class="small" ng-click="clearCache()">yes, clear</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-6 col-lg-offset-1">
        <p>
            BESCHREIBUNG HIER REIN

        <ul>
            <li>Sinn und Zweck des Caches</li>
            <li>Mehrfach benötigte Tweets müssen nicht mehrfach heruntergeladen werden</li>
            <li>Nachteil: belegen zusätzlichen Speicherplatz</li>
            <li>Unter Umständen werden sie nicht mehr benötigt</li>
            <li>Möglichkeit des Löschens um Speicherplatz freizugeben</li>
        </ul>
        </p>
    </div>

</div>




