<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tworpus beenden</h4>
            </div>
            <div class="modal-body">
                <p>Soll Tworpus wirklich beendet werden?<br/>
                    Laufende Downloads können beim nächsten Start weitergeführt werden.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nein</button>
                <button type="button" id="btn-exit" class="btn btn-danger">Beenden</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->