*.log
*.pot
*.pyc
local_settings.py
.idea
projects/*
*.pyc
*_bak.py
.idea/
*.pyo

build/
dist/

tworpus/static/bower_components
tworpus/static/bower_components/*
tworpus/static/node_modules/
node_modules/

xmlcache/*

*.pyc
*.sqlite3
