<!DOCTYPE html>
<html ng-app="tworpusApp">

<head>
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'components/select2-3.4.5/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'components/select2-bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'components/datepicker/css/pikaday.css' %}" />
    <link rel="stylesheet" href="{% static 'components/joyride-master/css/joyride-2.1.css' %}" />
    <link rel="stylesheet" href="{% static 'components/pnotify-1.2.0/jquery.pnotify.default.css' %}" />
    <link rel="stylesheet" href="{% static 'components/pnotify-1.2.0/use for pines style icons/jquery.pnotify.default.icons.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}"
    <link rel="stylesheet" href="{% static 'bower_components/angular-ui/build/angular-ui.css' %}" />
    />

    <title></title>

    <style>
        #corpus-creation-progress {
            position: fixed;
            width: 100%;
            bottom: 0;
            height: 50px;
            margin-bottom: 0;
            z-index: 1000;
            min-height: 0;
            padding: 0;

            -webkit-transition: height 1s ease-out;
            -moz-transition: height 1s;
            -ms-transition: height 1s;
            -o-transition: height 1s;
            transition: height 1s ease-out;
        }
        #corpus-creation-progress.expanded {
            height: 200px;
        }

        .progressbar-container.ng-leave,
        .progressbar-container.ng-enter {
            -webkit-transition: all linear .5s;
            -moz-transition: all linear .5s;
            -ms-transition: all linear .5s;
            -o-transition: all linear .5s;
            transition: all linear .5s;
        }

        .progressbar-container.ng-leave {
            opacity: 1;
        }
        .progressbar-container.ng-leave.ng-leave-active {
            opacity: 0;
        }

        .progress-bar-content {
            overflow-y: auto;
            height: 50px;
            padding: 20px;
        }

        #corpus-creation-progress.expanded .progress-bar-content {
            height: 200px;
        }
    </style>

</head>


<body style="">
<div id="sid" class="hidden" data-sessionid="{{ sid }}">{{ sid }}</div>
{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% block project_title %}Tworpus{% endblock project_title %}</a>
            </div>

            <!-- Navbar top -->
            <div class="navbar-collapse collapse">
                {% block navbar_top %}
                    {% include "includes/navbar_top.html" %}
                {% endblock navbar_top %}
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <!-- Nav sidebar -->
            <div class="col-sm-3 col-md-2 sidebar" >
                {% block nav_sidebar %}
                    {% include "includes/sidebar_nav.html" %}
                {% endblock nav_sidebar %}
            </div>
            <!-- Nav sidebar end -->

            <!-- Main content -->
            <div class="col-sm-9 col-sm-offset-3 col-md-14 col-md-offset-2 main">

                {% block content %}{% endblock content %}
                <div ng-view></div>
                {#                {% include "includes/progressbar.html" %}#}
            </div>
            <!-- Main content end -->

        </div>

    {% include "includes/modal.html" %}

    <div ng-controller="ProgressController">
        <div id="corpus-creation-progress" tw-corpus-progress tw-progresses=""
             ng-class="showProgressbar ? 'expanded' : ''" class="well">
        </div>
    </div>

    </div>
    <ol id="joyRideTipContent">
        <li data-id="input_title">
            <h2>Titel</h2>
            <p>Geben Sie ihrem Korpus einen Titel!</p>
        </li>
    </ol>
{% endblock body %}

{% block javascripts %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/underscore/underscore.js' %}"></script>
    {#    <script src="http://localhost:3000/socket.io/socket.io.js"></script>#}
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'components/joyride-master/js/jquery-1.10.1.js' %}"></script>
    <script src="{% static 'components/joyride-master/js/jquery.joyride-2.1.js' %}"></script>
    <script src="{% static 'components/joyride-master/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'components/joyride-master/js/modernizr.mq.js' %}"></script>

    <script src="{% static 'components/datepicker/js/moment-min.js' %}"></script>
    <script src="{% static 'components/datepicker/js/pikaday.js' %}"></script>
    <script src="{% static 'components/select2-3.4.5/select2.min.js' %}"></script>
    <script src="{% static 'components/select2-3.4.5/select2_locale_de.js' %}"></script>
    <script src="{% static 'components/pnotify-1.2.0/jquery.pnotify.min.js' %}"></script>
    <script src="{% static 'components/slider/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'components/d3/d3.min.js' %}"></script>

    <!-- Angular -->
    {#        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>#}

    <script src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'bower_components/angular-ui/build/angular-ui.js' %}"></script>
    <script src="{% static 'bower_components/angular-ui/build/angular-ui-ieshiv.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
    <script src="http://code.angularjs.org/1.0.8/i18n/angular-locale_de-de.js"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script src="{% static 'bower_components/angular-ui-select2/src/select2.js' %}"></script>

    <script>
        // Init angular app
        var tworpusApp = angular.module('tworpusApp', [
            'ngRoute',
            'ngCookies',
            'ngAnimate',
            'ui',
            'ui.bootstrap',
            'ui.select2',

            // custom modules
            'createCorpus.services',
            'notifications',
            'tworpusApp.progress',
            'tworpusApp.cache',
            'navigation'
        ]);

        tworpusApp.run(function ($rootScope, $http, $cookies) {
            // set django csrf token
            $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;

            // needed for django to recognize AjaxRequests
            $http.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        });

        // Inject viariables generated from django
        tworpusApp.constant('socketId', "{{ sid }}");
        tworpusApp.constant('urls', {
            'sessions': "{% url 'session.views.getSessions'  %}",
            'session': "{% url 'session.views.getSession'  %}",
            'activeSessions': "{% url 'session.views.getActiveSessions'  %}",
            'removeCorpus': "{% url 'session.views.removeCorpus'  %}",
            'startCreateCorpus': "{% url 'session.views.startCreateCorpus' %}",
            'pauseCorpus': "{% url 'session.views.pauseCorpus' %}",
            'resumeCorpus': "{% url 'session.views.resumeCorpus' %}",
            'clearCache': "{% url 'session.views_cache.clearCache' %}",
            'cacheStatus': "{% url 'session.views_cache.cacheStatus' %}"
        });
    </script>

{#    <script src="{% static 'js/create_corpus/services.js' %}"></script>#}
{#    <script src="{% static 'js/progress/services.js' %}"></script>#}
{#    <script src="{% static 'js/notifications.js' %}"></script>#}
{#    <script src="{% static 'js/TworpusApp.js' %}"></script>#}
{#    <script src="{% static 'js/Corpora.js' %}"></script>#}
{#    <script src="{% static 'js/cache/cache.js' %}"></script>#}
{#    <script src="{% static 'js/progress/Progressbar.js' %}"></script>#}
{#    <script src="{% static 'js/navigation/navigation.js' %}"></script>#}
    <script src="{% static 'dist/js/tworpus.js' %}"></script>

    <script>
        $(window).load(function(){
            setTimeout(function() {
                $("#joyRideTipContent").joyride({
                autostart : true,
                postStepCallback : function (index, tip) {
                    if (index == 2) {
                        $(this).joyride('set_li', false, 1);
                    }
                },
                modal : true,
                expose : true
            });
            }, 500);

        });
    </script>

{% endblock javascripts %}



</body>
</html>