body {
    line-height: 1.618;
}

.nav, a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-family: 'Oswald', Arial, Verdana, sans-serif;
}

.navbar-inverse .navbar-nav > li > a {
    margin: 27px 0 0;
    font-size: 16px;
    padding: 0 10px;
}

.navbar-brand {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 10px 0 0;
    padding-left: 0;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #DFFB3F;
}

.navbar  {
    background: #252E2A none;
    min-height: 70px;
    width: 100%
}

.sidebar {
    top: 70px;
}

.main {
    top: 20px;
}

.center-content {
    width: 1024px;
    margin: 0 auto;
}